@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
.row {
  --bs-gutter-x: 0;
}

.mainPageHeader {
  font-family: "Zen Dots", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-family: "Zen Dots", cursive;
}

.mainPageHeader {
  text-align: center;
  color: #34241f;
  font-weight: 300;
}

body {
  background-image: linear-gradient(to bottom right, #a19592, #faeddb);
  font-family: "Zen Dots", cursive;
}

#mainHeader {
  font-size: 75px;
  padding-top: 40vh;
}

#mainHeaderTwo {
  color: #77655f;
}

body > nav div {
  background-color: #a19592;
}

#navbarSupportedContent > ul > li > a:hover {
  color: #c7a192;
}

.fwh-slide1 {
  height: 100vh;
  color: #faf9f9;
  box-sizing: border-box;
}

.fwh-slide2 {
  height: 100vh;
  color: black;
  box-sizing: border-box;
}

.fwh-slide3 {
  color: black;
  box-sizing: border-box;
}

.aboutMe {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: "Zen Dots", cursive;
  font-weight: 300;
  font-size: 3.5rem;
}

.abtRow {
  /* border: 3px solid black; */
  margin-top: 1em;
}

.aboutme__paragraph {
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: left;
  font-family: "Zen Dots", cursive;
}

.skills {
  display: flex;
  justify-content: center;
}

.skill__row {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.skills__item:not(:last-child) {
  margin-bottom: 4rem;
}

/* This pen */
a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.blah {
  display: flex;
  flex-direction: column;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.light {
  background-color: #a19592;
}
.postcard .t-dark {
  color: #77655f;
}
.postcard a {
  color: inherit;
}
.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(143, 127, 127, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(143, 127, 127, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard.light .postcard__text:before {
    background: #a19592;
  }
}
/* COLORS */
.blue .postcard__title:hover {
  color: #424242;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
}/*# sourceMappingURL=styles.css.map */