@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

$coolFont: "Zen Dots", cursive;

.row {
  --bs-gutter-x: 0;
}

nav {
  font-family: $coolFont;
}

.mainPageHeader {
  font-family: $coolFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainPageHeader {
  text-align: center;
  color: #34241f;
  font-weight: 300;
}
#mainHeader {
  font-size: 75px;
  padding-top: 40vh;
}

#mainHeaderTwo {
  color: #77655f;
}

body {
  //   background-image: linear-gradient(#a19592, #faf9f9, white);
  background-image: linear-gradient(to bottom right, #a19592, #faeddb);
  font-family: $coolFont;
}

body > nav div {
  background-color: #a19592;
}

#navbarSupportedContent > ul > li > a:hover {
  color: #c7a192;
}

.fwh-slide1 {
  height: 100vh;
  color: #faf9f9;
  box-sizing: border-box;
}

.fwh-slide3 {
  color: black;
  box-sizing: border-box;
}

.aboutMe {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: $coolFont;
  font-weight: 300;
  font-size: 3.5rem;
}

.abtRow {
  /* border: 3px solid black; */
  margin-top: 1em;
}

.aboutme__paragraph {
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: left;
  font-family: $coolFont;
}

.skills {
  display: flex;
  justify-content: center;
}

.skill__row {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.skills__item:not(:last-child) {
  margin-bottom: 4rem;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
$cardBack: #a19592;

/* This pen */

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.filter-green{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

  &.light {
    background-color: $cardBack;
  }

  .t-dark {
    color: #77655f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgb(143 127 127 / 40%);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        // background: rgba(83, 83, 83, 0.8);
        background: rgb(143 127 127 / 80%);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
    }

    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n + 1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.light {
    .postcard__text:before {
      background: $cardBack;
    }
  }
}

/* COLORS */

// .postcard .postcard__tagbox .blue.play:hover {
//   background: $main-blue;
// }
.blue .postcard__title:hover {
  color: #424242;
}
// .blue .postcard__bar {
//   background-color: $main-blue;
// }
.blue::before {
  background-image: linear-gradient(
    -30deg,
    $main-blue-rgb-015,
    transparent 50%
  );
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

@media screen and (min-width: 769px) {
  .blue::before {
    background-image: linear-gradient(
      -80deg,
      $main-blue-rgb-015,
      transparent 50%
    );
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      $main-blue-rgb-015,
      transparent 50%
    );
  }
}


